<aside id="sidebar" class="sidebar-toggle">
    <div class="sidebar-logo">
        <a href="/">Task Manager</a>
    </div>
    <!-- Sidebar Navigation -->
    <ul class="sidebar-nav p-0">


        <li class="sidebar-item">
            <a href="/tasks" class="sidebar-link">
                <i class="bx bx-task"></i>
                <span>Task</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/tasks/addTask" class="sidebar-link">
                <i class="bx bx-task"></i>
                <span>Add Task</span>
            </a>
        </li>



        <!-- <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth"
                aria-expanded="true" aria-controls="auth">
                <i class="bx bx-shield"></i>
                <span>Auth</span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="/auth/login" class="sidebar-link">Login</a>
                </li>
                <li class="sidebar-item">
                    <a href="/auth/register" class="sidebar-link">Register</a>
                </li>
            </ul>
        </li> -->
        <li class="sidebar-item">
            <a href="/tasks" class="sidebar-link">
                <i class="bx bx-user"></i>
                <span>Profile</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/tasks" class="sidebar-link">
                <i class="bx bx-cog"></i>
                <span>Setting</span>
            </a>
        </li>
    </ul>
    <!-- Sidebar Navigation Ends -->
    <div class="sidebar-footer">
        <a href="/auth/logout" class="sidebar-link">
            <i class="bx bx-log-out"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>